html, body{
    font-family: "Inter";
    height: 100%;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 80%;
    flex: 1
}
form{
    width: 100%;
}
.accountLabel, .accountInput{
    margin-top: 2em;
    font-weight: bold;
}
.accountInput{
    border: 0px;
    width: 7em;
}
#accountTitle{
    font-weight: bold;
}
.buttons{
    margin-top: 5em;
    font-weight: bold;
    padding: 1em;
    background-color: white;
    border: 1px solid black;
}
.buttons:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}
#editButton{
    margin-right: 2em;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
li{
    display: inline-block;
}
li:hover{
    background-color: #FFD700;
    color: black;
    border-radius: 1px;
    padding: 1px;
    cursor: pointer;
}

