body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-family: "Inter",serif;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 7%;
    margin-bottom: 5%;
}

.form {
    border: 1px solid #1e1f22;
    background: #1e1f22;
    display: flex;
    padding: 0 2%;
    margin-top: 10%;
    margin-right: 12%;
    border-radius: 16px;
    flex-direction: column;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 0.2em solid darkorange;
    outline: none;
    background: transparent;
}

input[type="submit"] {
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    line-height: 36px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    border: none;
    background: darkorange;
    color: #f0f0f0;
}

input[type="submit"]:hover {
    background: orangered;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

button {
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    line-height: 36px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    border: none;
    background: darkorange;
    color: #f0f0f0;
}

iframe {
    width: 50%;
    height: 816px;
}
