footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 100%;
    margin-top: 2em;
    height: 20em;
    background-color: rgb(54, 54, 54);
    color: white;
    padding-left: 10em;
}
footer p{
    border-bottom: 1px solid #FFD700;
    display: inline-block;
}
ul{
    list-style-type: none;
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
}