* {
   margin: 0;
   padding: 0;
   text-decoration: none;
}

.mi-form {
   justify-content: center;
   align-items: flex-start;
   display: flex;
   margin: 4%;
   padding: 2% 2%;
   padding-right: 4%;
   border: 1px solid #1e1f22;
   border-radius: 16px;
   flex-direction: column;
   background: #1e1f22;
   box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.form-row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.form-row .form-elements {
   width: calc(50% - 1%);
}

h1 {
   text-align: center;
   line-height: 56px;
   color: black;
   font-size: 40px;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   margin-top: 12%;
}

h2 {
   font-size: 1.5em;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
   align-items: flex-start;
}

.genero-div {
   margin-top: 6%;
   display: flex;
   flex-direction: row;
}

body {
   display: flex;
   align-items: center;
   flex-direction: column;
   background: #f0f0f0;
   font-family: 'Poppins', sans-serif;
}

legend {
   display: inline-block;
   padding: 10px 0;
   font-size: 16px;
   font-weight: bold;
   color: white;
   pointer-events: none;
   transition: .5s;
}

.form-container .form-elements input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: white;
   margin-bottom: 30px;
   border: none;
   border-bottom: 0.2em solid white;
   outline: none;
   background: transparent;
}

.form-container .form-elements label {
   display: inline-block;
   padding: 10px 0;
   font-size: 16px;
   font-weight: bold;
   color: white;
   pointer-events: none;
   transition: .5s;
}

.female {
   margin-left: 45%;
   display: flex;
}

.male {
   margin-right: 45%;
   display: flex;
}

.gender-radio {
   display: flex;
   flex-direction: row;
}

.gender-radio input[type="radio"] {
   display: flex;
   margin-top: 18%;
   margin-left: 56%;
}

.gender-radio label {
   display: inline-block;
   margin-right: 10px;
   cursor: pointer;
}

button {
   text-align: center;
   border-radius: 5px;
   font-weight: bold;
   text-transform: uppercase;
   transition: all 0.3s ease 0s;
   cursor: pointer;
   line-height: 36px;
   width: 235px;
   height: 66px;
   margin-left: 41%;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
   border: none;
   background: #FFC000;
   color: #f0f0f0;
}

.boton:hover {
   background: darkorange;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);

}

input[type="date"]::-webkit-calendar-picker-indicator {
   filter: invert(100%);
}