*{
   margin: 0;
   padding: 0;
   text-decoration: none;
}

.mi-form {
   justify-content: center; /* Centrar horizontalmente */
   align-items: flex-start; /* Centrar verticalmente */
   display: flex;
   margin: 10%;
   padding: 2% 2%;
   padding-right: 4%;
   border: 1px solid #FFC000;
   border-radius: 16px;
   flex-direction: column;
   background: #FFC000;
}

h1 {
   text-align: center;
   font-style: normal;
   line-height: 56px;
   color: white;
   font-size: 40px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
}

h2 {
   font-size: 1.5em;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
   align-items: flex-start;
}

body {
   display: flex;
   align-items: center;
   flex-direction: column;
   background: #262626;
   font-family: 'Poppins', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
   color: darkgrey;
   border-color: black;
   border-width: 1px;
   border-radius: 4px;
   height: 39px;
   width: 165px;
}

.form-container {
   display: flex;
}

.form-nombre {
   display: flex;
   flex-direction: column;
   margin: 1%;
   padding: 1%;
}

.form-nombre label {
   display: block;
   margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

.form-nombre input {
   display: block;
}


.form-apellidos {
   display: flex;
   flex-direction: column;
   margin: 1%;
   padding: 1%;
}

.form-apellidos label {
   display: block;
   margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

.form-apellidos input {
   display: block;
}
