* {
   margin: 0;
   padding: 0;
   text-decoration: none;
}

.mi-form {
   margin: 4%;
   padding: 2% 2%;
   padding-right: 3%;
   border-radius: 16px;
   background: #1e1f22;
   box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.form-row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.form-row .form-elements {
   width: calc(50% - 1%);
}

h2 {
   font-size: 1.5em;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
   align-items: flex-start;
}

.genero-div {
   margin-top: 6%;
   display: flex;
   flex-direction: row;
}

body {
   display: flex;
   align-items: center;
   flex-direction: column;
   background: #f0f0f0;
   font-family: 'Inter', sans-serif;
}

legend {
   display: inline-block;
   padding: 10px 0;
   font-size: 16px;
   font-weight: bold;
   color: white;
   pointer-events: none;
   transition: .5s;
}

.form-container .form-elements input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: white;
   margin-bottom: 30px;
   border: none;
   border-bottom: 0.2em solid darkorange;
   outline: none;
   background: transparent;
}

.form-container .form-elements label {
   display: inline-block;
   padding: 10px 0;
   font-size: 16px;
   font-weight: bold;
   color: white;
   pointer-events: none;
   transition: .5s;
}

.female {
   margin-left: 45%;
   display: flex;
}

.male {
   margin-right: 45%;
   display: flex;
}

.gender-radio {
   display: flex;
   flex-direction: row;
}

.gender-radio input[type="radio"] {
   display: flex;
   margin-top: 18%;
   margin-left: 56%;
}

.gender-radio label {
   display: inline-block;
   margin-right: 10px;
   cursor: pointer;
}

button {
   text-align: center;
   border-radius: 5px;
   font-size: 1.3em;
   font-weight: bold;
   text-transform: uppercase;
   transition: all 0.3s ease 0s;
   cursor: pointer;
   line-height: 36px;
   width: 235px;
   height: 66px;
   margin-left: 41%;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
   border: none;
   background: darkorange;
   color: #f0f0f0;
}

.boton:hover {
   background: orangered;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);

}

input[type="date"]::-webkit-calendar-picker-indicator {
   filter: invert(100%);
}

.progress--large {
   font-size: 2em;
}

/**
 * Some Generic Stylings
 */
*, *:after, *:before {
   box-sizing: border-box;
}
h1 {
   margin-bottom: 1.5em;
}
.progress {
   margin-bottom: 3em;
}
a {
   color: orangered;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}

.progress {
   list-style: none;
   margin: 0;
   padding: 0;
   display: table;
   table-layout: fixed;
   width: 100%;
   color: #1e1f22;
   margin-top: 2%;

   > li {
      position: relative;
      display: table-cell;
      text-align: center;
      font-size: 0.8em;

      &:before {
         content: attr(data-step);
         display: block;
         margin: 0 auto;
         background: darkgrey;
         width: 3em;
         height: 3em;
         text-align: center; //IE8 doesn't inherit this style
      margin-bottom: 0.25em;
         line-height: 3em;
         border-radius: 100%;
         position: relative;
         z-index: 1000;
      }
      &:after {
         content: '';
         position: absolute;
         display: block;
         background: darkgrey;
         width: 100%;
         height: 0.5em;
         top: 1.25em;
         left: 50%;
         margin-left: 1.5em\9;
         z-index: -1;
      }
      &:last-child:after {
         display: none;
      }
      &.is-complete {
         color: darkorange;

         &:before,
         &:after {
            color: #FFF;
            background: darkorange;
         }
      }
      &.is-active {
         color: orangered;

         &:before {
            color: #FFF;
            background: orangered;
         }
      }
   }
}
html{
   font-family: "Inter",serif;
}