.nav-bar {
    display: flex;
    align-items: center;
    border-bottom: solid #000 1px;
    background: #1e1f22;
    height: 6em;
}

.nav-bar_option {
    margin: 3%;
}

.nav-bar_logo {
    padding-left: 5%;
    padding-right: 7%;
}

#header-nav .nav-bar_option--active:hover {
    transform: scale(1.15);
}

#aside-buttons .boton {
    padding: 10px 10px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

#aside-buttons .boton:hover {
    background-color: orangered;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

#header-nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em;
    color:white;
}

#aside-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 2%;
}

#login, #register {
    margin: 0 60px;
}

html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
