.nav-bar {
    display: flex;
    align-items: center;
    border-bottom: solid #000 1px;
    background: rgb(54, 54, 54);
    height: 6em;
}

.nav-bar_option {
    margin: 1%;
}

.nav-bar_logo {
    padding-left: 4%;
    padding-right: 10%;
}

.nav-bar_option--active:hover {
    transform: scale(1.15);
}

a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em;
    color:white;
}

#aside-buttons {
    margin-left: auto; /* Mueve los botones al extremo derecho */
    display: flex;
    align-items: center; /* Alinea los botones verticalmente */
    margin-right: 4%;
}

#login, #register {
    margin: 0 10px; /* Añade espacio entre los botones */
}

html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
