.nav-bar{
    display: flex;   
    align-items: center;
    border-bottom: solid #000 1px;
    background: rgb(54, 54, 54);
    height: 6em;
}
.nav-bar_option{
    margin: 2px;
    padding: 2px;
}
.nav-bar_option--active:hover{
    transform: scale(1.15);
}

a{
    text-decoration: none;   
    font-weight: bold;
    padding: 0.4em;
    color:white;
}

#login, #register{
    display: inline-block;
}
#aside-buttons{
    margin-left: 35%;
    display: inline-block;    
}

