*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#inicio {
    background-image: url('../img/inicio.avif');
    background-size: cover;
    background-position: center;
    color: white;
}

#inicio .container {
    padding: 15% 0;
    text-align: center;
}

#inicio h1 {
    font-size: 3em;
    margin-bottom: 1%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#inicio h2 {
    font-size: 2em;
    margin-bottom: 3%;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#inicio p {
    font-size: 1.5em;
}

#inicio .btn {
    font-size: 1.2em;
    padding: 20px 60px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

#inicio .btn:hover {
    background-color: orangered;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.salud {
    background-color: #1e1f22;
}

#salud .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    margin: 0 auto;
}

#salud .container2 {
    width: 31%;
    position: relative;
}

#salud .container2 > img {
    width: 100%;
    height: 300px;
    border-radius: 16px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

#salud .container2 .info-container {
    width: 100%;
    margin-top: 15%;
}

#salud p {
    text-align: center;
    margin-bottom: 2%;
    color: white;
}

#salud .container2 .icon {
    position: absolute;
    top: 250px;
    left: calc(50% - 44px);
    z-index: 1;
    background-color: darkorange;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    line-height: 88px;
    text-align: center;
}

#salud .container2 .icon img {
    vertical-align: middle;
    width: 60%;
    height: 56px;
}

#salud h4 {
    font-size: 1.15rem;
    text-align: center;
    margin-bottom: 2%;
    color: white;
}
.slider {
    position: relative;
    width: 100%;
    height: 850px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;

    animation: slide 20s infinite alternate ease-in-out;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
}

.slider h3 {
    position: absolute;
    top: 20%;
    left: 25%;
    font-size: 5em;
    z-index: 1;
    color: white;
    background: rgba(0,0,0,.75);
}

#entrenadores .container {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
}

#entrenadores .trainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#entrenadores .trainer img {
    max-width: 50%;
    order: 2;
    margin: 2%;
    border-radius: 16px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

#entrenadores .trainer p {
    order: 1;
    margin: 8%;
    font-size: 150%;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    color: white;
}
#entrenadores h3 {
    font-size: 3em;
    color: white;
    margin-top: 5%;
    margin-left: 3%;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#entrenadores .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}