html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.pricing-plans {
    margin: 3% 7%;
    display: grid;
    border-radius: 16px;
    background-color: #1e1f22;
    grid-template-columns: auto auto;
    font-family: 'Poppins', sans-serif;
    position: relative;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.plan{
    padding: 7%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    color: white;
}

.plan #familiar {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;

}

.standard, .plus, .familiar, .perso{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
    margin: 2%;
}

.text {
    font-size: 16px;
    line-height: 24px;
}

#text4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
}

.cost {
    display: inline-block;
    margin: 11%;
    margin-bottom: 3%;
    text-align: center;
}

#cost2 {
    margin: 3%;
}
.coste {
    font-weight: bold;
    font-size: 40px;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
}

li {
    padding: 3%;
    margin: 2%;
}

p {
    color: darkorange;
    font-weight: bold;
    padding-top: 2%;
    margin-bottom: -14%;
}

.boton {
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    line-height: 36px;
    width: 235px;
    height: 66px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.b1 {
    border: none;
    background: darkorange;
    color: #f0f0f0;
}

.b2 {
    background: black;
    border: none;
    color: #f0f0f0;
}

.b1:hover {
    background: orangered;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);

}

.b2:hover {
    background: #262626;
}

#button1 {
    margin-top: 25%;
}

#button2 {
    margin-top: 35%;
}

.checklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 27%;
}

.plan2 {
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background: radial-gradient(circle at left top, #181504 0.00%, darkorange 53.0%, orangered);
    position: relative;
}

.plans {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    font-style: normal;
    line-height: 56px;
    color: black;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 3%;
}
