body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family: "Inter";
    background: linear-gradient(to top, #181504, #fbdc30);
}

.form-container {
    background-color: white;
    border-radius: 1em;
    height: 30em;
    width: 35em;
}

.form-container__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.form-container__label {
    margin-top: 2em;
    margin-bottom: 0.8em;
    margin-left: 4.4em;
    font-weight: 700;
}

.form-container__write-box {
    display: block;
    margin: auto;
    margin-top: 2.5em;
    border: 0px;
    border-bottom: 3px solid black;
    width: 30em;
    padding-bottom: 0.3em;
}

.form-container__button {
    display: block;
    margin: auto;
    margin-top: 2.2em;
    width: 20em;
    height: 2.5em;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 600;
}
.form-container__button:hover{
    cursor: pointer;
}

.form-container__logo {
    height: 2em;
    width: 2em;
    margin: 0;
}

.form-container__register {
    display: block;
    text-align: center;
    font-weight: 600;
}

.form-container__register-link {
    text-decoration: none;
    border-bottom: 2px solid black;
    color: black;
}
.form-container__write-box:focus {
    outline: none; 
}

