html{
    margin: 0;
    padding: 0;
    font-family: "Inter",serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #f0f0f0;
}

main{
    display: flex;
    width: 70%;
}
.aside-card{
    background: rgb(159, 157, 157);
    width:10vw;
    height: 100vh;

}
.reservations{
    flex: 1;
    margin: 6%;
}

.burgerbotton_line{
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 2px 0;
}


.aside-card a{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-weight: bold;
    margin-left: 14%;
    margin-top: 14%;
}

.aside-card_option--active:hover{
    transform: scale(1.05);
}

h1 {
    margin-bottom: 3%;
}

.reservations_info{
    height: 100px;
    border: solid 2px #000;
    width: 500px;
}