aside{
    background-color: #1e1f22;
    padding: 2em;
}
a {
    color: white;
    text-decoration: none;
    cursor: auto;
}
a:hover{
    cursor: pointer;
}
.aside-card_option{
    margin-bottom: 2em;
}