html{
    font-family: "Inter",serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.mi-form {
    margin: 4%;
    padding: 2% 4%;
    border-radius: 16px;
    background: #1e1f22;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-row .form-elements {
    width: calc(50% - 1%);
}

.methods_title{
    font-weight: bold;
    color:white;
    margin-top: 2%;
    margin-bottom: 2%;
}

.methods_option {
    margin-left: 8%;
}


.form-elements label {
    display: inline-block;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.form-elements input[type="text"]{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 0.2em solid darkorange;
    outline: none;
    background: transparent;
}

button {
    text-align: center;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    line-height: 36px;
    width: 235px;
    height: 66px;
    margin-left: 37%;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    border: none;
    background: darkorange;
    color: #f0f0f0;
}

.boton:hover {
    background: orangered;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);

}

