html{
    font-family: "Inter",serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
    margin: 0
}


.methods{
    background: rgb(159, 157, 157);
    width: 40vw;
    height: 55vh;
    border-radius: 5%;
}



.methods_title{
    font-family:"Inter",Arial, Helvetica, sans-serif,serif;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 20%;
}


.methods_label{
    margin-left: 5%;
}

.methods_button{
    width: 15%;
    border-radius: 15%;
    margin-left: 75%;
}

.methods_button--active:hover{
    transition: background-color 0.9s ease;
    background-color: rgb(107, 107, 106);
}

