*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1f22;
}

h1 {
    text-align: center;
    color: white;
    font-size: 300%;
    margin-top: 5%;
}

.Spinning:hover, .GAP:hover, .Zumba:hover, .Boxeo:hover, .Bodypump:hover, .Core:hover, .Pilates:hover, .Yoga:hover {
    transition: all .2s ease-out;
    transform: scale(0.90);
    border-radius: 16px;
    cursor: pointer;
}


table {
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
    background-color: #1e1f22;
    width: 95%;
    margin-bottom: 5%;
    margin-top: 5%;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    position: relative;
}

td {
    border: 5px solid white;
    font-size: 150%;
}

th {
    background-color: #1e1f22;
    font-size: 150%;
}

tr:nth-child(even) {
    background-color: #1e1f22;
}

a {
    color: black;
    font-weight: bold;
    font-size: 110%;
    transition: color 0.3s ease;
}

a:hover {
    color: white;
}


.Yoga {
    background-color: blueviolet;
    color: #fff;
}

.Boxeo {
    background-color: #97d99eff;
    color: #fff;
}

.Spinning {
    background-color: #57bf33ff;
    color: #fff;
}

.Bodypump {
    background-color: #f36b35ff;
    color: #fff;
}

.GAP {
    background-color: hotpink;
    color: #fff;
}

.Core {
    background-color: #f03a4fff;
    color: #fff;
}

.Pilates {
    background-color: #78d1deff;
    color: #fff;
}

.Zumba {
    background-color: #f8a628ff;
    color: #fff;
}

.trainer {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

td a {
    display: block;
}