*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-family: "Inter",serif;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.Spinning:hover, .GAP:hover, .Zumba:hover, .Boxeo:hover, .Bodypump:hover, .Core:hover, .Pilates:hover, .Yoga:hover {
    transition: all .2s ease-out;
    transform: scale(0.90);
    border-radius: 16px;
    cursor: pointer;
}

.Spinning, .GAP, .Zumba, .Boxeo, .Bodypump, .Core, .Pilates, .Yoga{
    padding: 5px;
}

td.hora{
    width: 10%;
    font-weight: bold;
}


table {
    margin: 1.5% auto;
    border-collapse: collapse;
    background-color: #f0f0f0;
    width: 97%;
    color: black;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

th, td {
    text-align: center;
    border: 5px solid black;
    font-size: 20px;
}

th {
    background-color: #f0f0f0;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

#tabla a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

#tabla a:hover {
    color: white;
}


.Yoga {
    background-color: #d400ff;
    color: #fff;
}

.Boxeo {
    background-color: #00ffe1;
    color: #fff;
}

.Spinning {
    background-color: #00ff2e;
    color: #fff;
}

.Bodypump {
    background-color: #ff8800;
    color: #fff;
}

.GAP {
    background-color: #ff008c;
    color: #fff;
}

.Core {
    background-color: #ff1900;
    color: #fff;
}

.Pilates {
    background-color: #057dff;
    color: #fff;
}

.Zumba {
    background-color: #fffa00;
    color: #fff;
}

.trainer {
    font-weight: bold;
    color: black;
    font-size: 14px;
}