*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1f22;
}

.Spinning:hover, .GAP:hover, .Zumba:hover, .Boxeo:hover, .Bodypump:hover, .Core:hover, .Pilates:hover, .Yoga:hover {
    transition: all .2s ease-out;
    transform: scale(0.90);
    border-radius: 16px;
    cursor: pointer;
}

.Spinning, .GAP, .Zumba, .Boxeo, .Bodypump, .Core, .Pilates, .Yoga{
    padding: 5px;
}

td.hora{
    width: 10%;
}


table {
    margin: 1.5% auto;
    border-collapse: collapse;
    background-color: #1e1f22;
    width: 97%;
    color: white;
}

th, td {
    text-align: center;
    border: 5px solid white;
    font-size: 20px;
}

th {
    background-color: #1e1f22;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #1e1f22;
}

a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

a:hover {
    color: white;
}


.Yoga {
    background-color: blueviolet;
    color: #fff;
}

.Boxeo {
    background-color: #97d99eff;
    color: #fff;
}

.Spinning {
    background-color: #57bf33ff;
    color: #fff;
}

.Bodypump {
    background-color: #f36b35ff;
    color: #fff;
}

.GAP {
    background-color: hotpink;
    color: #fff;
}

.Core {
    background-color: #f03a4fff;
    color: #fff;
}

.Pilates {
    background-color: #78d1deff;
    color: #fff;
}

.Zumba {
    background-color: #f8a628ff;
    color: #fff;
}

.trainer {
    font-weight: bold;
    color: white;
    font-size: 14px;
}